.search-page {
  padding: 20px;
  input {
    padding: 5px;
    border-radius: 5px;
    width: 500px;
  }
  .book-shelf {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px 0;
    justify-content: space-between;
  }
}
